#
# udevadm info --query=all --name ttyUSB0
# udevadm test $(udevadm info --query path --name ttyUSB0 )
#
SUBSYSTEM=="tty", ENV{ID_MODEL}=="TellStick", ENV{ID_VENDOR}=="Telldus", SYMLINK+="tellstick", MODE="0666"
